{{ form_start(form) }}
    {{ form_row(form.libelle) }}
    {{ form_row(form.dateDebut) }}
    {{ form_row(form.dateFin) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
