{% extends 'base.html.twig' %}

{% block title %}Axe{% endblock %}

{% block body %}
    <h1>Détail de l'axe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activite.id }}</td>
            </tr>
            <tr>
                <th>NumActivite</th>
                <td>{{ activite.numActivite }}</td>
            </tr>
            <tr>
                <th>LibelleActivite</th>
                <td>{{ activite.libelleActivite }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ activite.created ? activite.created|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ activite.auteur }}</td>
            </tr>
            <tr>
                <th>Last_updated</th>
                <td>{{ activite.lastUpdated ? activite.lastUpdated|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Last_updated_auteur</th>
                <td>{{ activite.lastUpdatedAuteur }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('app_axe_index') }}">Retour à la liste</a>

    <a href="{{ path('app_axe_edit', {'id': activite.id}) }}">Modifier</a>

    {{ include('axe/_delete_form.html.twig') }}
{% endblock %}
