{% extends 'base.html.twig' %}

{% block title %}Annee{% endblock %}

{% block body %}
    <h1>Details de l'Annee</h1>


    {% for message in app.flashes('success') %}
        <div class="alert alert-success"  style=" color: #008000" >
            {{ message }}
        </div>
    {% endfor %}

    <table class="table">
        <tbody>
{#            <tr>#}
{#                <th>Id</th>#}
{#                <td>{{ annee.id }}</td>#}
{#            </tr>#}
            <tr>
                <th>Libelle</th>
                <td>{{ annee.libelle }}</td>
            </tr>
            <tr>
                <th>Valeur</th>
                <td>{{ annee.valeur }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ annee.actif ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Archiver</th>
                <td>{{ annee.archiver }}</td>
            </tr>
{#            <tr>#}
{#                <th>CreatedAt</th>#}
{#                <td>{{ annee.createdAt ? annee.createdAt|date('Y-m-d H:i:s') : '' }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>CreatedBy</th>#}
{#                <td>{{ annee.createdBy }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>UpdatedAt</th>#}
{#                <td>{{ annee.updatedAt ? annee.updatedAt|date('Y-m-d H:i:s') : '' }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>UpdatedBy</th>#}
{#                <td>{{ annee.updatedBy }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>DeletedAt</th>#}
{#                <td>{{ annee.deletedAt ? annee.deletedAt|date('Y-m-d H:i:s') : '' }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>DeletedBy</th>#}
{#                <td>{{ annee.deletedBy }}</td>#}
{#            </tr>#}
        </tbody>
    </table>

    <a href="{{ path('app_annee_index') }}">Retour à la liste</a>

    <a href="{{ path('app_annee_edit', {'id': annee.id}) }}">Modifier</a>

    {{ include('annee/_delete_form.html.twig') }}
{% endblock %}
