{% extends 'base.html.twig' %}

{% block title %}Planifier{% endblock %}

{% block body %}
    <h1>Planifier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ planifier.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ planifier.libelle }}</td>
            </tr>
            <tr>
                <th>PoidsAction</th>
                <td>{{ planifier.poidsAction }}</td>
            </tr>
            <tr>
                <th>Archiver</th>
                <td>{{ planifier.archiver ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_planifier_index') }}">back to list</a>

    <a href="{{ path('app_planifier_edit', {'id': planifier.id}) }}">edit</a>

    {{ include('planifier/_delete_form.html.twig') }}
{% endblock %}
