{% extends 'base.html.twig' %}

{% block title %}Executer{% endblock %}

{% block body %}
    <h1>Executer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ executer.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ executer.libelle }}</td>
            </tr>
            <tr>
                <th>TauxPrevu</th>
                <td>{{ executer.tauxPrevu }}</td>
            </tr>
            <tr>
                <th>TauxRealiser</th>
                <td>{{ executer.tauxRealiser }}</td>
            </tr>
            <tr>
                <th>Observation</th>
                <td>{{ executer.observation }}</td>
            </tr>
            <tr>
                <th>DateExecution</th>
                <td>{{ executer.dateExecution ? executer.dateExecution|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Archives</th>
                <td>{{ executer.archives }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_executer_index') }}">back to list</a>

    <a href="{{ path('app_executer_edit', {'id': executer.id}) }}">edit</a>

    {{ include('executer/_delete_form.html.twig') }}
{% endblock %}
